{% extends "base.html" %}

{% block content %}
<header>
  <h1 class="page-title">
    Down It!
  </h1>
</header>

<main>
  <div class="welcome-text">
    <p>
      Welcome to the Lucky Clover Inn. Do you have what it takes to make the
      leaderboard of boozy brainboxes?
    </p>
    <p>
      Down It! is a multiple choice questions quiz on the subject of Ireland.
      For each correct answer, you take a gulp of the black stuff. Five gulps
      and you'll see away the pint. The pint glasses are stacked to see how many
      you can get through in 60 seconds! Just enter your name and hit "Mine's a
      pint!!"
    </p>
  </div>

  <form id="quiz_player_form" action="{{ url_for('startgame') }}" method="POST">
    <div id="time_selectors">
      <label class="time-selector">
        <input type="radio" name="game_time" value="60" checked>
        <div>60</div>
      </label>
      <label class="time-selector">
        <input type="radio" name="game_time" value="90">
        <div>90</div>
      </label>
      <label class="time-selector">
        <input type="radio" name="game_time" value="120">
        <div>120</div>
      </label>
    </div>
    <input class="player-name" type="text" name="player_name" value="Your name" required>
    <input class="btn" type="submit" value="Mine's a pint!!">
  </form>

</main>
{% endblock %}
