{% extends "base.html" %}

{% macro ordanlise(number) %}
  {% set suffix = ['th', 'st', 'nd', 'rd', 'th', 'th', 'th', 'th', 'th', 'th'] %}
  {# Make sure number isn't negative #}
  {% if number < 0 %}
    {% set number = number * -1 %}
  {% endif %}
  {% set number = number|int %}

  {# Does this number end in a teen? #}
  {% if number % 100 > 9 and number % 100 < 20 %}
    {{ number ~ "th"}}
  {% else %}
    {{ number ~ suffix[(number % 10)] }}
  {% endif %}

{% endmacro %}

{% block styles %}
  <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
{% endblock %}

{% block content %}
<header>
    <h1 class="leaderboard-title">Time's up at the bar</h1>
</header>

<main>
  <div class="welcome-text">
    {% if player %}
    <p>
      Looks like you've had enough <span class="player-name">{{ player.name }}</span>.
      You downed {{ (player.score / 5)|int }}
      {{ 'pints' if ((player.score / 5)|int != 1) else 'pint' }}.
      That puts you in {{ ordanlise(player.place) }} place overall.
    </p>
    <p>
      Take a look where you are on the leaderboard on the way out of my pub...
      and don't forget to share the fun!
    </p>
    {% else %}
    <p>
      Take a look at the leaderboard to see our top scorers. When you're done,
      why not give it a try yourself?
    </p>
    {% endif %}
    <div class="social-share">
      <a href="https://instagram.com" target="_blank">
        <i class="fab fa-instagram-square"></i>
      </a>
      <a href="https://twitter.com/?lang=en" target="_blank">
        <i class="fab fa-twitter-square"></i>
      </a>
    </div>
  </div>
  {% if player %}
    <form id="quiz-player-form" action="{{ url_for('startgame') }}" method="POST">
      <input type="hidden" name="player_name" value="{{ player.name }}">
      <input class="restart-button btn" type="submit" value="Get another round in!">
    </form>
  {% else %}
    <div>
      <a class="restart-button btn" href="{{ url_for('home') }}">Have a go!</a>
    </div>
  {% endif %}
  <div id="time_selectors">
    <label class="time-selector">
      <input type="radio" name="game_time" value="60" checked>
      <div>60s</div>
    </label>
    <label class="time-selector">
      <input type="radio" name="game_time" value="90">
      <div>90s</div>
    </label>
    <label class="time-selector">
      <input type="radio" name="game_time" value="120">
      <div>120s</div>
    </label>
  </div>
  <div class="leaderboard">
    <h4>Top 10</h4>
    <table class="leaderboard-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      {% for entry in scores %}
        {%- if player and player.id == entry._id -%}
        <tr class="highlight">
        {%- else -%}
        <tr>
        {%- endif -%}
          <td>{{ loop.index }}</td>
          <td>{{ entry.player }}</td>
          <td>{{ entry.score }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
