{% extends "base.html" %}


{% block content %}

{# Gives client side code access to the current player score #}
<input type="hidden" value="{{ session.player_score }}" id="player_score">
{# Give client side code access to the gameover page url #}
<input type="hidden" value="{{ url_for('gameover') }}" id="gameover">
{# Sets timer from server timestamp so player can't cheat by refreshing the page #}
<input type="hidden" value="{{ time_left }}" id="startTime">

<main>
  <section id="quiz_score_section">
    <form id="sound_form" class="sound-toggle" action="{{ url_for('AJAX_sound') }}" method="POST">
      <input type="checkbox" name="sound-toggle" id="sound-toggle"
        {% if session.sound %}
          checked
        {% endif %}>
      <label for="sound-toggle" id="sound-on"><i class="fas fa-volume-up"></i></label>
      <label for="sound-toggle" id="sound-off"><i class="fas fa-volume-mute"></i></label>
    </form>
    <div id="pint_counter">
      {% for i in range((session.player_score/5)|int) %}
      <div class="add-pint">
        <img src="/static/images/pint-counter-icon.svg">
      </div>
      {% endfor %}
    </div>
    {#<div id="player_name">{{ session.player }}</div>#}
    <div id="pint" class="pint{{ session.player_score % 5 }}"></div>
    <h1 class="timer">{{ '%02d' %(time_left|int) }}</h1>
  </section>
  <section id="quiz_question_section">
    <form id="quiz_form" class="question-card" action="{{ url_for('AJAX_answer') }}" method="POST">
      <p class="quiz-question">{{ question.question }}</p>
      {% for option in question.options %}
        <label class="quiz-option">
          <input type="radio" name="answer" value="{{ loop.index - 1 }}">
          <div class="btn">
            {{- option -}}
          </div>
        </label>
      {% endfor %}
      {# Submits the form, should be hidden until AJAX returns (replaced by timer) #}
      {#<button id="next_question_btn" class="btn hide">Next Question</button>#}
    </form>
  </section>
</main>

<audio id="drink_sound">
  <source src="{{ url_for('static', filename='sound/drink.mp3') }}"/>
</audio>
<audio id="feck_sound">
  <source src="{{ url_for('static', filename='sound/feck.mp3') }}"/>
</audio>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
